.search {
    margin: 30px 0px;
    padding:10px;
  }
  
  .input-search {
    position: relative;
  }
  
  .input-search .theme-input {
    width: 100%;
  }
  
  .input-search .theme-btn {
    position: absolute;
    right: 0px;
    height: 100%;
    text-align: center;
  }